.tagline
{
  position: relative;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 22px;
  background-color: var(--color-neutral-7);
  color: var(--color-neutral-1);

  @include mobile {
    font-size: 12px;
  }

  &__description {
    font-weight: 600;
  }

  &__link {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 500;
    color: var(--color-orange);
    border-bottom: 1px solid var(--color-orange);

    @include mobile {
        display: none;
    }
  
    svg
    {
      stroke: var(--color-orange)
    }
  }

  &__close
  {
    position: absolute;
    top: 6px;
    right: 16px;
    padding: 1px;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease-in;



    svg
    {
      transform: translateY(2px);

      @include mobile {
        fill: var(--color-neutral-1);
        stroke: var(--color-neutral-1);
      }
    }
    
    &:hover
    {
      background-color: var(--color-neutral-4);
    }
  }
}