<div class="swiper-slide">
  <article class="card">
    <div class="card__picture">
      <img src="./../../../img/arrivals/@@img" alt="Headphones">
      <div class="card__new">@@status</div>
      <div class="card__fav">
        <div class="button-fav">
          <svg class="icon icon--favorite">
            <use href="./img/svgsprite/sprite.symbol.svg#favorite"></use>
          </svg>  
        </div>
      </div>
      <div class="card__button">
        <button class="button button--s button--wide">Add to cart</button>
      </div>
    </div>
    <div class="card__description">
      <div class="card__rating">

        @@for(let i = 0; i < context.rating; i++) {
          <svg class="icon icon--star">
            <use href="./img/svgsprite/sprite.symbol.svg#star"></use>
          </svg>  
        }

      </div>
      <div class="card__title">@@title</div>
      <div class="card__price">@@price</div>
    </div>
    <a href="#!" class="card__link"></a>
  </article>
</div>